.btn--phase-end {
    width: fit-content;
}

.game-component-container {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.game-component-container p {
    margin: 0px;
}

.util-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.character-p {
    font-size: 18px;
    color: #f59f00;
}

.skill-selection-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.target-selection-toggle-btn {
    width: fit-content;
    padding: 8px 12px;
    cursor: pointer;
}

.target-selection-btn-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.target-selection-btn {
    font-size: 14px;
    padding: 4px 9px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.btn--skill-use {
    font-size: 16px;
    cursor: pointer;
}

.btn--vote {
    width: fit-content;
    padding: 3px 36px;
}

.present-current-phase {
}

.time-counter {
}

.phase-container {
}

.game-end-text {
}

.winner-text {
    font-size: 24px;
}

.end-phase {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.daytime-phase {
    font-size: 18px;
}

.user-info-container {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-info-container .user-wrapper {
    display: flex;
    flex-direction: row;
    width: 192px;
    justify-content: space-between;
}

.user-info-container .username {
    font-size: 16px;
}

.user-info-container .character {
    font-size: 20px;
}

.distribution-phase {
}

.execution-phase {
}

.night-phase {
}

.vote-phase {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
