.room-container {
    width: 100%;
    height: 100%;
}

.room-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin: 30px;
}

.user-list {
    width: 192px;
    height: 80%;
    overflow: auto;
    list-style: none;
    margin: 10px;
    padding: 18px;
    border: 2px solid #343a40;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-item {
    position: relative;
    font-size: 20px;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.user-item p {
    margin: 0px;
}

.dead-user {
    background-color: #ffa8a8;
}

.self {
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 12px;
    background-color: #e03131;
    padding: 3px 6px;
    color: #fff;
    border-radius: 3px;
    right: -8px;
    top: -10px;
}

.chat-container {
    width: 512px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.tab-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.tab {
    border: 2px solid #343a40;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}

.tab-current {
    background-color: #a5d8ff;
}

.chat-log {
    overflow: auto;
    flex: 1;
    border: 2px solid #343a40;
    padding: 12px 24px;
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.chat-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-item-wrapper {
    width: fit-content;
}

.message {
    font-size: 16px;
}

.chat-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sender {
    font-size: 14px;
    font-weight: 600;
    background-color: #b2f2bb;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 4px;
}

.chat-item p {
    margin: 0px;
}

.chat-content {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    margin-left: 5px;
}

.system-message {
    align-self: center;
}

.chat-item {
}

.my-message {
    align-self: flex-end;
}

.sended-time {
    font-size: 5px;
}

.message-input-container {
    margin: 12px 12px 0px 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.message-input {
    font-size: 16px;
    padding: 8px 12px;
    flex: 1;
    border-radius: 300px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn--send-message {
    width: 84px;
    font-size: 16px;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 300px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #d0ebff;
}

.btn--send-message:hover {
    background-color: #1c7ed6;
    color: #fff;
}

.btn--send-message:active {
    color: #fff;
    background-color: #1864ab;
}

.cmodal-container {
    position: fixed;
    display: block;
    left: 10px;
    top: 20px;
    border: none;
    background-color: #ffffff00;
    z-index: 1;
}

.modal-wrapper {
    position: relative;
}

.btn--close-modals {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background-color: #e03131;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding: 12px 24px;
}

.configuration-modal-container {
    width: 720px;
    height: 432px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px;
    border: 10px solid #343a40;
    border-radius: 18px;
}

.radio-container {
    width: 128px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.radio-component p {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 6px;
    font-weight: 700;
}

.radio-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 8px;
    border: 1px;
    margin-bottom: 5px;
}

.character-config-container {
    margin-top: 18px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    overflow: scroll;
}

.character-config {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.character-config p {
    margin: 0px;
}

.char-dist-btn-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.char-dist-btn {
    cursor: pointer;
    background-color: #339af0;
    border: 1px solid #339af0;
    padding: 6px 12px;
    border-radius: 3px;
    color: #fff;
}

.char-dist-btn:hover {
    background-color: #74c0fc;
}

.char-dist-btn:active {
    background-color: #1c7ed6;
}

.char-dist-btn:disabled {
    background-color: #fff;
    color: #343a40;
    border: 1px solid #343a40;
    cursor: default;
}

.host-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.host-bar button {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 6px 8px;
    color: #fff;
    border: none;
}

.btn--game-start {
    background-color: #fd7e14;
}

.btn--game-start:hover {
    background-color: #ffa94d;
}

.btn--game-start:active {
    background-color: #d9480f;
}

.btn--game-start:disabled {
    cursor: default;
    background-color: #ffffff00;
    color: #343a40;
}

.btn--config-modal {
    background-color: #82c91e;
}

.btn--config-modal:hover {
    background-color: #a9e34b;
}

.btn--config-modal:active {
    background-color: #66a80f;
}
